@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}
form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}
.scrollbar {
  overflow-y: scroll;
  height: 92vh;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--bs-info);
  padding-right: 100px;
  border-radius: 7px;
}
.text-shadow{
  text-shadow: 1px 1px var(--bs-dark);
}